/* "visibility.css" for the AssaultCube documentation.		*/
/* Written by:	Rabid Viper Productions				*/

/* Use this file to hide elements on the website, that you wish	*/
/* normally to be visible when viewed offline (or vice-versa).	*/

/* How to use:							*/
/*  Add the below SSI comment in the head of the webpage:	*/
/*    <!--#include virtual="/SSI-HTML/visibility.html" -->	*/

/* When the page is opened locally, your browser will interpret	*/
/* this line as a comment and NOT open this visibility.css file	*/

/* However, when the server processes that page, it will add	*/
/* this CSS file into the page.					*/

/* You may be able to redistribute this content under specific 	*/
/* conditions. Please read the licensing information, available	*/
/* at http://assault.cubers.net/docs/license.html for the 	*/
/* conditions that would apply to what you may be redistributing*/

.docsbreadcrumb {
visibility : hidden;
}
#docsheader {
visibility : hidden;
}
.docswarn {
visibility : visible;
padding : 5px;
margin-top : 15px;
background-color : #101010;
font-size : 13px;
clear : both;
width : auto;
height : auto;
}
